$pinkish: #eedbf3;

.headerDiv {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainText {
    color: $pinkish;
    text-align: center;
    padding-left: .5em;
    padding-right: .5em;
    font-size: 3.2vw;
    
    h1 {
        overflow: hidden;
        border-right: .15em solid $pinkish;
        white-space: nowrap;
        margin: 0 auto;
        animation: 
            typing 2s steps(40, end),
            blinky .75s step-end infinite;
    }

    .actionButtons {

        animation: fadeIn 3.75s;
        display: flex;
        justify-content:center;
        flex-wrap: wrap;

        button {
            flex-basis: 150px;
            flex-grow: 1;
            white-space: nowrap;
            background: none;
            margin: 1rem;
            padding: .5rem;
            width: auto;
            color: $pinkish;
            font-size: large;
            border: solid 3px $pinkish;
            border-radius: 10px;

            &:hover {
                cursor: pointer;
            }

            &:active {
                transform: scale(0.9);
                transition: ease-in-out; 
            }
            
        }
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinky {
    from, to { border-color: transparent }
    50% { border-color: $pinkish }
}

@keyframes fadeIn {
    0% { opacity: 0 }
    66% { opacity: 0 }
    100% { opacity: 1 }
}